

.category-title {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 20px;
}


@media screen and (max-width: 950px) {
    .categorydetail-content {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .categorydetail-content {
        padding: 90px 24px 0;
    }
    

    .category-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {


    .grid {
        padding: 0 8px;
    }

    .category-title {
        font-size: 0.875rem;
    }
}
