.contact-content {
    margin-left: 200px;
    text-align: right;
    padding: 0 46px;
}

/* タイトルは共通 */

.content-title {
    text-align: center;
    font-size: 24px;
    padding-top: 90px;
    margin-bottom: 50px;
}

/* お問い合わせ */

.contact-container {
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.required {
    color: red;
    margin-left: 3px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

form textarea {
    min-height: 200px;
}

form button {
    display: block;
    width: 20%;
    margin: 15px auto;
    padding: 10px;
    background-color: #37414c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 950px) {
    .contact-content {
        margin-left: 0;
        padding: 0 20px;
    }

    .contact-container {
        max-width: 79%;
    }

    form button {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .contact-container {
        max-width: 90%;
    }

    form button {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .contact-container {
        max-width: 100%;
    }

    form button {
        width: 50%;
    }
}

/* モーダル */

/* モーダルの背景（オーバーレイ） */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* モーダル本体 */
.confirm-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    width: 80%;
    max-width: 500px; /* モーダルの最大幅 */
}

/* モーダル内のボタン */
.confirm-modal button {
    margin: 10px;
    width: auto; /* ボタンの幅を内容に合わせる */
    padding: 10px 20px; /* ボタンのパディング */
    border: none;
    background-color: #0056b3;
    color: #fff;
    border-radius: 5px;
}

/* モーダル内のテキスト */
.confirm-modal p {
    margin-top: 10px;
    text-align: left;
}

/* モーダルのタイトル */
.confirm-modal h2 {
    text-align: center;
    margin-bottom: 15px;
}
