.recipe-content {
    margin-left: 200px;
    padding: 0 46px;
}

.recipe-header {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 90px;
    margin-bottom: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.category-title {
    color: #000;
    padding: 6px;
    border-radius: 5px;
}

.recipe-title {
    font-size: 1.75rem;
    font-weight: 500;
}

.thumbnail {
    max-width: 700px !important;
    margin: 0 auto !important
}

.thumbnail img {
    border-radius: 8px;
    aspect-ratio: 15 / 9;
    object-fit: cover;
}

.material-title {
    margin: 60px auto 0 auto;
    font-size: 24px;
    border-bottom: 2px solid #f3bb01;
    max-width: 700px;
    padding-bottom: 10px;
}

.recipe-material {
    max-width: 700px;
    margin: 0 auto;
}

.recipe-step {
    max-width: 700px;
    margin: 0 auto;
}

.material-list li {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 16px;
}

.material-list li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #dfdfdf;
}

.step-content li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 18px 0;

    position: relative;
}

.step-content li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #dfdfdf;
    border-radius: 8px;
}

.step-content-mark {
    background-color: #f3bb01;
    color: #fff;
    padding: 8px;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .recipe-content {
        margin-left: 0;
        padding: 0 16px;
    }

    .recipe-header {
        flex-direction: column;
        gap: 10px;
    }

    .recipe-title {
        font-size: 1.5rem;
    }

    .thumbnail {
        max-width: 100%;
    }

    .material-title {
        margin: 30px auto 0 auto;
        font-size: 20px;
    }

    .recipe-material {
        max-width: 100%;
    }

    .recipe-step {
        max-width: 100%;
    }
}
