* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-image: url("/images/common/dot-grid.webp");
    background-repeat: repeat;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* メインコンテンツ */

.main-content {
    margin-top: 90px;
    margin-left: 200px;
    padding: 0 46px;
}

.main-content a:hover {
    opacity: 0.8;
}

/* グリッドの共通CSS */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 30px;
    margin-bottom: 80px;
    padding: 0 32px;
}

.item {
    aspect-ratio: 4 / 3;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.item a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}

.item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 60%,
        rgba(85, 85, 85, 1)
    );
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 6px;
    font-size: 0.775rem;
}

@media screen and (max-width: 950px) {
    .main-content {
        width: 100%;
        margin-left: 0;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px 10px;
        padding: 0 16px;
    }

    .rank-content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 40px 0;
    }

    .category-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px 20px;
    }

    .content-title {
        text-align: left;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        padding: 0 24px;
    }
}

@media screen and (max-width: 450px) {
    .main-content {
        padding: 0 12px;
    }
    .grid {
        padding: 0 8px;
    }

    .category-content {
        gap: 20px 30px;
    }
    .category-content .item a img {
        padding: 16px;
    }
}
